#carouselExampleSlidesOnly div{
    width: 100%;
    height: 35em;
}
header img{
    width: 5em;
    height: 3em;
    
}
.carousel-item active{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 140%;
    left: 95%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: yellow;
}
.main-acercade{
    width: 100%;
    height: 35em;
}
.mision{
    width: 100%;
    height: 50%;
    display: flex;
    background-image: url(https://cache.marriott.com/marriottassets/marriott/BOGMC/bogmc-terrace-6191-hor-feat.jpg?downsize=1024px:*);
    color: white;
    background-size: cover;
    text-shadow: 1.5px 1.5px black;
}
.vision{
    width: 100%;
    height: 50%;
    display: flex;
    background-image: url(https://www.enter.co/wp-content/uploads/2017/02/menu-restaurant-vintage-tableFINAL-768x432.jpg);
    color: white;
    background-size: cover;
    text-shadow: 1.5px 1.5px black;
}
.titulo-mision{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descripcion-mision{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.titulo-vision{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descripcion-vision{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.main-contacto{
    width: 100%;
    height: 35em;
    background-image: url(https://i.pinimg.com/736x/23/ce/8e/23ce8ec4d5b057c3eec8902e29d8d351.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.numeros-contacto{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px black;
}
.redes-sociales{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.redes-sociales--{
    width: 100%;
    text-shadow: 1.5px 1.5px black;
}
.redes-sociales-- div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.whatsapp img{
    width: 2em;
    padding-left: 0.5em;

}
.facebook img{
    width: 2em;
    padding-left: 0.5em;

}
.instagram img{
    width: 2em;
    padding-left: 0.5em;

}
.main-menu{
    width: 100%;
    height: 35em;
    background-image: url(https://elviajerofeliz.com/wp-content/uploads/2020/09/comida-tipica-de-venezuela.jpg);
    color: white;
}
.seccion1{
    width: 100%;
    height: 50%;
    display: flex;
}
.seccion2{
    width: 100%;
    height: 50%;
    display: flex;
}
.plato1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1.5px 1.5px black;
}
.plato2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1.5px 1.5px black;
}
.plato3{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1.5px 1.5px black;
}
.plato4{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 1.5px 1.5px black;
}

